body {
  margin: 0;
  background: -webkit-linear-gradient(90deg, #EC6F66 10%, #F3A183 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #EC6F66 10%, #F3A183 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #EC6F66 10%, #F3A183 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #EC6F66 10%, #F3A183 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #EC6F66 10%, #F3A183 90%); /* W3C */
  font-family: 'Raleway', sans-serif; 
  font-size: 20px; 
}

.App {
  text-align: center;
}

.Component-header {
  background-color: rgb(191, 201, 49);
  height: 350px;
  width: 100%;
  padding: 20px;
  color: white;
}

.React-button {
  background:#ff6666;
  width:100px;
  height:40px;
  border:0px;
  color:white;
  border-bottom:4px solid #FF5252;
  border-radius:2px;
  font-size:20px;
  text-shadow:1px #FF5252;
  text-transform:uppercase;
}

.React-button:hover {
  background:#FF5252;
}

#title {
  text-align:center;
  color:#FFF !important;
  margin-top:10%;
  margin-left:20px;
  font:60px Lobster;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

.display-component-wrapper {
	width: 500px;
	height: 200px;
  top: 0;
  bottom: 0;
  left: 0;
	right: 0;
  margin: auto;
}

#review-and-submit-wrapper {
	background-color: rgb(191, 201, 49);
	background-size: 100% 100%;
	width: 800px;
	height: 500px;
	border: 1px rgb(244, 189, 189) solid;
	box-shadow: 1px 1px 1px 1px #fc9797;
	position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
	right: 0;
  margin: auto;
}

#reservation-details-wrapper {
	margin: auto;
  width: 70%;
  height: 50%;
  top: 400px;
}

.reservation-detail-left {
  float: left;
}

.reservation-detail-right {
  float: right;
  text-align: right;
}

.btn-wrapper {
  margin-top: 20px;
}

.options-and-buttons-wrapper {
  margin-top: 20%;
}


/* select styles */

.custom-dropdown--large {
	font-size: 1.5em;
}

.custom-dropdown--small {
	font-size: .7em;
}

.custom-dropdown__select{
	font-size: inherit; /* inherit size from .custom-dropdown */
  padding: .5em;
  margin-left: 5px;
  margin-right: 5px;
}

.custom-dropdown__select--white {
	background-color: #fff;
  color: #444;    
}

@supports (pointer-events: none) and
	  ((-webkit-appearance: none) or
	  (-moz-appearance: none) or
	  (appearance: none)) {

	.custom-dropdown {
		position: relative;
		display: inline-block;
    vertical-align: middle;
    margin-top: 7px;   
    margin-left: 5px;
    margin-right: 5px;
	}

	.custom-dropdown__select {
		padding-right: 2.5em; /* accommodate with the pseudo elements for the dropdown arrow */
		border: 0;
		border-radius: 3px;
		-webkit-appearance: none;
		-moz-appearance: none;
    appearance: none; 
	}

	.custom-dropdown::before,
	.custom-dropdown::after {
		content: "";
		position: absolute;
		pointer-events: none;
	}

	.custom-dropdown::after { /*  Custom dropdown arrow */
		content: "\25BC";
		height: 1em;
		font-size: .625em;
		line-height: 1;
		right: 1.2em;
		top: 50%; margin-top: -.5em;
	}

	.custom-dropdown::before { /*  Custom dropdown arrow cover */
		width: 2em;
		right: 0; top: 0; bottom: 0;
		border-radius: 0 3px 3px 0;
	}

	.custom-dropdown__select[disabled] {
		color: rgba(0,0,0,.3);
	}

	.custom-dropdown.custom-dropdown--disabled::after {
		color: rgba(0,0,0,.1);
	}

	/* White dropdown style */
	.custom-dropdown--white::before {
		background-color: #fff;
		border-left: 1px solid rgba(0,0,0,.1);
	}

	.custom-dropdown--white::after {
		color: rgba(0,0,0,.9);
	}

	/* FF only temp fix */
	@-moz-document url-prefix() {
		.custom-dropdown__select 			 { padding-right: .9em }
		.custom-dropdown--large .custom-dropdown__select { padding-right: 1.3em }
		.custom-dropdown--small .custom-dropdown__select { padding-right: .5em }
	}
}

